.example-card{
  max-width: 90%;
  margin-left: 10px;
  margin-top:10px;
  color:black;
  background-color: white;
  
}
.body-archivo{
  background-color: #DCDCE1;
  height: 100%;
  width: 100%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.button{
  background-color: grey;
  color:white
}