<div class="col-md-12 body-archivo">
    <mat-toolbar>
        <span>Cargador de archivos</span>
    </mat-toolbar>

    <mat-card class="example-card">
        <mat-card-content>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label reqItem>Digite delimitador</label>
                        <input type="text" class="form-control" [(ngModel)]="delimitador" (blur)="onChangeDelimiter()">
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Selecionar archivos</label>
                    <input type="file" multiple (change)="selectFiles($event)" [disabled]="!(delimitador.length>0)" />
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label reqItem>Codigo de campaña</label>
                        <input type="text" class="form-control" [(ngModel)]="campania">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <ng-select [items]="listColumnas" bindLabel="nombre" multiple="true"
                            [(ngModel)]="listColumnasSelected" bindValue="nombre"
                            placeholder='Seleccione las columnas que desea almacenar'>
                        </ng-select>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="button" [disabled]="!(listColumnasSelected.length>0)"
                (click)="cargarArchivo()">Guardar</button>
        </mat-card-actions>
    </mat-card>
</div>